<mat-toolbar class="mat-elevation-z8">
    <span>Brandaris</span>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/person"><mat-icon>person</mat-icon><span>Person</span></button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/claims"><mat-icon>receipt</mat-icon><span>Claims</span></button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/claims-remote"><mat-icon>receipt</mat-icon><span>Claims Remote</span></button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/config-remote"><mat-icon>settings</mat-icon><span>Config Remote</span></button>
    <mat-divider></mat-divider>
    <button mat-raised-button color="warn" (click)="generateException()">Generate exception</button>
    <mat-divider></mat-divider>
    <a href="/account/logout" mat-button class="menu-button right"><span>Logout</span></a>
</mat-toolbar>
