.content {
    min-height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: left;
    align-items: left;

    font-size: 1rem;
    color: darkgray;

    padding-top: 32px;
    padding: 32px;
}
